:root {
  --baseFont: 'Montserrat', serif;
  --Background-color-base: #f9fafb;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  grid-template-columns: 35% 1fr;
  height: 100vh;
  width: 100vw;
  font-family: var(--baseFont);
  background-color: var(--Background-color-base);
}

/* left side page  */

.layout-content {
  display: flex;
  flex-direction: column;
}

.aside-image {
  background: url('assets/city_street.jpg') no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
}

.layout_banner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.back_banner {
  position: relative;
  background-color: rgba(0, 0, 0, 0.3);
  height: 20vh;
  top: 15rem; /*240px*/
}

.front_text {
  display: flex;
  align-items: center;
  height: 100%;
}

.front_text h1 {
  color: #fff;
  font-size: 2.5rem;
  margin-left: 2.5rem;
}

.image-mail {
  background: url('assets/antivirus.png') no-repeat center rgb(255, 255, 255);
  background-size: contain;
  width: 50%;
  height: 20vh;
  display: block;
}

.copyright {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 1.1rem;
  font-weight: 500;
  color: #fff;
}

.copyright a {
  text-decoration: none;
  cursor: pointer;
  color: #000;
}

/* form right side */
main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50% 5rem 5rem;
}

.heading-text {
  align-content: center;
  margin-left: 3rem;
  width: 75%;
  font-size: 0.875rem;
}
